body{
    background-color: lightgrey;
}
.container{
    background-color: white;
    border-radius: .5rem;
}
.kurbani-nav-bg{
    background-color: #6e3fb9a4;
}
.carousel-height{
    height: 500px;
}
.btn-indigo{
    background-color: #6610f2;
}
.kurbani-catagory-bg-warning{
    background-color: orange;
}
.kurbani-catagory-bg-orchid{
    background-color: orchid;
}
.kurbani-catagory-bg-blue{
    background-color: blue;
}
.catagories img{
    width: 100px;
}
.card-footer{
    border: none;
    background-color: white;
}
.btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.kurbani-bg-reddish{
    background-color: #f7c9c4;
}
.contact{
    background-image: url(../images/eid-greetings/eid.jpg);
    background-size: cover;
}
.btn-discount:hover{
    background-color: purple;

}
.information a{
    text-decoration: none;
    color: white;
}
.search{
    height: 300px;
    background-image: url(../images/martin-zangerl-b3SMh4UKgrQ-unsplash.jpg);
    background-size: cover;
}
.search-box{
    background-color: white;
}
.simple-container{
    height: auto;
}
.simple-container img{
    width: 100%;
    height: 100%;
}
.btn-simplicity{
    background-color: rgb(196, 52, 52);
}
.btn-simplicity:hover{
    background-color: royalblue;
}
.magazine img{
    width: 100%;
    border-radius: 1rem;
}